@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }

  body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
  }
}
